@import "variables.scss";

.search-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  top: $top;
}

.bookmarks {
  width: $width-xxl;
}

.result-text {
  padding: $padding-md 0;
}
