<div *ngIf="searchText$ | async as searchText">
  <div class="search-container">
    <div
      class="bookmarks"
      *ngIf="bookmarks$ | async as bookmarks; else spinner"
    >
      <div class="result-text" *ngIf="bookmarks.length">Results for '{{ searchText }}'</div>
      <div class="result-text" *ngIf="!bookmarks.length">No results for '{{ searchText }}'</div>
      <app-bookmark-card
        *ngFor="let bookmark of bookmarks"
        [bookmark]="bookmark"
      >
      </app-bookmark-card>
    </div>
  </div>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
